@charset "UTF-8";

body{
	background-image:url(https://s1.1zoom.me/big0/519/431724-Kysb.jpg);
	backgroungd-size:contain;
}

a {
	color:yellow;
	float:left;
}

a:hover {
	color:cyan;
}

div.result {
	color:lime;
	border-collapse: collapse;
  	border-spacing: 0;
  	table-layout: fixed;
  	width: 490px;
}
